.hero {
  /* margin-top: 56px; */
  /* background-color: blue; */
  /* z-index: 99999; */
  width: 100wh;
  height: 100vh;
  background-image: url('../images/17.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-left: 286px; */
  position: relative;
  top: 0;
  bottom: 0;
}

#hero-banner {
  position: absolute;
  /* top: 0; */
  bottom: 20px;
  right: 55px;
  font-size: 30px;
  color: #fff;
  display: block;
  text-align: right;
}
