.hero {
  /* margin-top: 56px; */
  /* background-color: blue; */
  /* z-index: 99999; */
  width: 100wh;
  height: 100vh;
  background-image: url('../images/17.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-left: 286px; */
}
