.aside {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 286px;

  width: 100%;
  height: 100vh;
  background-color: var(--primary-color-darkergrey);
  /* z-index: 9999; */
}

.aside-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 40px; */
}
.aside-logo img {
  width: 180px;
  margin-top: 40px;
}

.aside-logo .aside-brand {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-left: 40px;
  color: #fff;
  text-align: center;
}
.aside-items {
  margin-top: 40px;
}
.aside-items .aside-item {
  color: #fff;
  font-size: 17px;
  width: 100%;
  max-width: 425px;
}
.aside-item:hover {
  background-color: var(--primary-color-orange);
}

.aside-item span {
  margin-left: 18px;
  margin-bottom: -3px;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.account {
  width: 100%;
  position: absolute;
  bottom: 40px;
}

.account button {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 8px;
  font-size: 16px;
}

.account .login-box {
  margin-bottom: 10px;
}
