.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* justify-content: space-between; */
  height: 53px;
  background-color: #393e46;
  margin-left: 286px;
}

.navbar .items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.navbar .items .item {
  padding: 0 10px;
  font-size: 17px;
}
.navbar .items .item:hover {
  color: var(--primary-color-orange);
}

a {
  color: #f2e7d5;
  font-weight: 400;
}
