:root {
  /* primary colors */
  --primary-color-darkgrey: #393e46;
  --primary-color-darkergrey: #2a241b;
  --primary-color-green: #6d9886;
  --primary-color-darkgreen: #233330;
  --primary-color-mediumgreen: #596e65;
  --primary-color-beige: #f2e7d5;
  --primary-color-pastelbeige: #c3d4c2;
  --primary-color-khaki: #4f5635;
  --primary-color-orange: #ff6b54;
  --primary-color-lightorange: #ffb26b;
  --primary-color-yelloworange: #ffd56f;
  --primary-color-lightkhaki: #939b62;
}

a {
  text-decoration: none;
}

body {
  background-color: #f2e7d5;
  overflow-y: hidden;
  overflow-x: hidden;
}
